$theme-colors: (
  'primary': #0d7fff,
  'info': #212e63,
  'success': #58947d,
  'warning': #d58445,
  'danger': #f44336,
  'light': #f5f2ee,
  'dark': #212e63,
);

$primary: map-get(
  $map: $theme-colors,
  $key: 'primary',
);
